node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# Test database
test.db
test.db-journal

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.claude
.devenv
.vscode
.devenv.flake.nix
.mcp.json
.pre-commit-config.yaml
local.db
